body {
    background-color: #424242;
    font-family: noto-serif-hebrew, sans-serif;
    font-style: medium;
    font-weight: 100;
    margin: 0; 
    display: flex; 
    height: 100vh; 
}
#map {
    width: 700px; 
    height: 700px; 
    position: absolute;
    top: 50px;
    left: 350px;
    background-color: none; 
    box-sizing: border-box; 
}


#scatterplot {
    display: none; 
    position: absolute; 
    justify-content: center;
    z-index: 10;
    padding: 20px;
    width: 380px;
    height: 350px;
    top: 120px;
    left: 1000px;   
    border: 2px solid #ff9900;
    background-color: #424242; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text-content {
  display: none;
  flex-direction: column;
  align-items: center; 
  font-family: noto-serif-hebrew, sans-serif;
  font-weight: medium;
  color: white;
}

  #scatterplot-header {
    font-family: noto-serif-hebrew, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    text-align: center;
  }
  
  #scatterplot-paragraph {
    font-family: noto-serif-hebrew, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    text-align: center;
  } 
.navigation {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  transform: translate(-50%, -55%);
  width: auto;
  height: auto;
  background-color: #424242;
  border: 2px solid #ff9900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

 h3 {
  font-family: noto-serif-hebrew, sans-serif;
  font-size: 30px;
  font-weight: regular;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}
p {
  font-family: noto-serif-hebrew, sans-serif;
  font-size: 14px;
  font-weight: regular;
  color: white;
  text-align: center;
  
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
button {
  background-color: #424242;
  border: 2px solid #ff9900;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
  font-family: inherit;
  font-size: 15px;
}


button:hover {
  background-color: #ffcc66;
}

.button-container-about {
  position: absolute; 
  bottom: 10px; 
  right: 20px; 
  z-index: 100;

}


